menu "ADS1015 Configuration"

    config ADS1015_HIGH_THRESH
        int "ADS1015 HIGH THRESH"
        default 100
        help
          High threshhold for ADS1015 current sensing.

    config ADS1015_LOW_THRESH
        int "ADS1015 LOW THRESH"
        default -100
        help
          Low threshhold for ADS1015 current sensing.

endmenu
